<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
	<property name="LOG_FILE" value="C:/logs/weight-management-service.log" />
	<property name="LOG_PATTERN" value="%d{dd-MMM-yyyy HH:mm:ss} %-5p %c  %M - %m%n" />

	<!-- Console Appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- File Appender with Daily Rolling -->
	<appender name="DAILY_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>C:/logs/weight-management-service-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of logs -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- Logger for your application packages 
	<logger name="com.management.weight" level="DEBUG" />-->

	<!-- Root Logger -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILY_ROLLING_FILE" />
	</root>
</configuration>